.wrapper {
    display: flex;
}

/**
* NAVBAR
*/

.navbar-wrapper {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;

    background-color: #4e73df;
    background-image: linear-gradient(90deg, #164372 0%, #0353A7 100%);
    background-size: cover;
    min-height: 100vh;
    width: 224px;
    padding-inline: 16px;

    padding-bottom: 80px;

    /* transition: all 0.3s linear; */
}

.navbar-wrapper.active {
    width: 104px;
}

.navbar-wrapper.active-mb {
    width: 0px;
    padding: 0;
    overflow: hidden;
}

.navbar-wrapper .navbar-logo {
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 16px 0;
}

.navbar-wrapper.active .navbar-logo {
    justify-content: center;
}

.navbar-wrapper.active .navbar-logo .text {
    display: none;
}

.navbar-wrapper .navbar-logo .icon img {
    width: 40px;
    height: auto;
    padding-bottom: 3px;
}

.navbar-wrapper .navbar-logo .text {
    color: var(--white-color);
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0.5px;
}

.navbar-wrapper hr {
    color: var(--white-color);
    margin-block: 0;
}

.navbar-wrapper .navbar-heading {
    font-size: 10px;
    font-weight: 700;
    color: rgba(255, 255, 255, .4);
    margin-block: 12px;
    line-height: 1;
    text-transform: uppercase;
}

.navbar-wrapper.active .navbar-heading {
    text-align: center;
}

.navbar-wrapper .navbar-list {
    margin-bottom: 12px;
}

.navbar-wrapper .navbar-link {
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 6px 0;
    font-size: 13px;
    color: rgba(255, 255, 255, .8);
    font-weight: 500;
    line-height: 1;
    /* transition: all 0.3s linear; */
}

.navbar-wrapper .navbar-link:hover .text {
    color: var(--white-color);
}

.navbar-wrapper .navbar-link .icon img {
    width: 16px;
    height: 19px;
    object-fit: contain;
}

.navbar-wrapper .navbar-link .tag {
    padding: 4px 12px;
    background-color: var(--white-color);
    color: #3a3b45;
    border-radius: 10rem;
    font-weight: 600;
    line-height: 1;

    display: flex;
    align-items: center;
}

.navbar-wrapper.active .navbar-link .tag {
    width: 100%;
    justify-content: center;
    padding: 2px 12px;
}

.navbar-wrapper .navbar-link.active {
    font-weight: 700;
    color: var(--white-color);
}

.navbar-wrapper.active .navbar-link {
    flex-direction: column;
    padding: 12px 0;
    font-size: 10px;
    text-align: center;
}

.navbar-wrapper .accountList .navbar-link:hover img {
    opacity: 1;
}

.navbar-wrapper .accountList .navbar-link img {
    opacity: 0.8;
    /* transition: all 0.3s linear; */
}

.navbar-wrapper .toggle-navbar {
    width: 40px;
    height: 40px;
    margin: 12px auto 0;
    border-radius: 100%;
    background-color: rgba(255, 255, 255, .4);

    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    /* transition: all 0.3s linear; */
}

.navbar-wrapper .toggle-navbar:hover {
    background-color: rgba(255, 255, 255, .5);
}

.navbar-wrapper .toggle-navbar img {
    opacity: 0.8;
    /* transition: all 0.3s linear; */
}

.navbar-wrapper .toggle-navbar:hover img {
    opacity: 1;
}

.navbar-wrapper.active .toggle-navbar {
    transform: rotate(180deg);
}

/**
* HEADER
*/

.content-wrapper {
    flex: 1;
    width: 100%;
    overflow-x: hidden;
}

.header {
    background-color: var(--white-color);
    padding: 8px 16px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
    box-shadow: 0 .15rem 1.75rem 0 rgba(58, 59, 69, .15);
}

.header .left {
    display: flex;
    align-items: center;
    gap: 12px;
}

.header .left .logo {
    display: none;
}

.header .left .toggle-nav-mb {
    padding: 8px;
    border-radius: 100%;
    background-color: rgba(240, 240, 240, .8);
    display: none;
}

.header .left .text {
    color: var(--primary-color);
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
}

.header .right {
    display: flex;
    align-items: center;
    gap: 28px;
}

.header .right .hr-ver {
    width: 1px;
    height: 38px;
    background-color: #e3e6f0;
}

.header .right .badge-counter {
    position: relative;
}

.header .right .badge-counter .icon img {
    width: 16px;
    height: auto;
}

.header .right .badge-counter .number {
    position: absolute;
    top: -5px;
    right: -15px;
    font-size: 9px;
    line-height: 1;
    background-color: #e74a3b;
    color: var(--white-color);
    border-radius: .35rem;
    font-weight: 700;
    padding: 4px 6px;
    letter-spacing: 1px;
}

.header .right .user {
    display: flex;
    align-items: center;
    gap: 8px;
}

.header .right .user .avatar img {
    width: 32px;
    height: 32px;
    object-fit: cover;
}

.header .right .user .name {
    font-size: 12px;
    line-height: 20px;
    font-weight: 500;
}

.header .dropdown-toggle::after {
    display: none;
}

.header .dropdown .dropdown-item img {
    width: 18px;
    height: auto;
}

.header .dropdown .dropdown-item .text {
    font-size: 13px;
}

/**
* GETLINK
*/

.getlink {
    height: 100%;
}

.getlink .card {
    height: 100%;
}

.getlink label {
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    margin-bottom: 12px;
}

.getlink .btn-getlink:hover,
.getlink .btn-reset:hover {
    color: var(--white-color);
}

.getlink .btn-getlink:hover img,
.getlink .btn-reset:hover img {
    filter: brightness(0) invert(1);
}

.getlink .button-group button {
    min-width: 160px;
    font-weight: 500;
}

.getlink .button-group {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
}

.getlink .form-group {
    margin-bottom: 18px;
}

.getlink .downloadFile {
    border: 1px solid #1cc88a;
    padding: 0px 12px;
    border-radius: 6px;
    display: none;
}

.getlink .downloadFile .wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 12px;
}

.getlink .downloadFile .wrap .filename {
    font-weight: 700;
}

/**
* COUPON
*/

.coupon .section-heading {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    flex-wrap: wrap;
    gap: 4px;
}

.coupon .section-heading span:first-child img {
    width: 20px;
    height: auto;
    margin-bottom: 2px;
}

.coupon .section-heading .tag {
    font-size: 11px;
    line-height: 1;
    font-weight: 600;
    color: var(--white-color);
    padding: 3px 8px;
    background-color: #1cc88a;
    border-radius: 24px;
}

.coupon .section-heading .badge-cost {
    font-size: 14px;
    line-height: 1;
    padding: 2px 8px;
    border-radius: 24px;
    background-color: #e74a3b;
    color: var(--white-color);
    margin-left: 6px;
    display: flex;
    align-items: center;
}

.coupon .section-heading .badge-cost img {
    width: 16px;
    height: auto;
    /* margin-bottom: 2px; */
}

.coupon .coupon-list li {
    margin-bottom: 12px;
}

.coupon .card-body {
    height: 420px;
    overflow: auto;
}

/**
*   KEYWORD
*/

.keyword .tags {
    list-style: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
    font-size: 12px;
    text-decoration: none;
}

.keyword .tags li {
    float: left;
}

.keyword .tags .tag {
    background: #eee;
    border-radius: 3px 0 0 3px;
    color: #999;
    display: inline-block;
    height: 26px;
    line-height: 26px;
    padding: 0 20px 0 23px;
    position: relative;
    margin: 0 10px 10px 0;
    text-decoration: none;
}

.keyword .tags .tag:hover {
    color: var(--primary-color);
}

.keyword .tags .tag::after {
    background: var(--white-color);
    border-bottom: 13px solid transparent;
    border-left: 10px solid #eee;
    border-top: 13px solid transparent;
    content: '';
    position: absolute;
    right: 0;
    top: 0;
}

.keyword .tags .tag::before {
    background: var(--white-color);
    border-radius: 10px;
    box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
    content: '';
    height: 6px;
    left: 10px;
    position: absolute;
    width: 6px;
    top: 10px;
}

/**
* FOOTER
*/

.footer {
    background-color: var(--white-color);
    padding: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 .15rem 1.75rem 0 rgba(58, 59, 69, .15);
}

.footer .top {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    line-height: 18px;
    font-weight: 600;
}

.footer .top .policy {
    color: #4e73df;
}

.footer .top .policy:hover {
    color: var(--primary-color);
}

.footer .top .hotline {
    color: #c4011a;
    padding-left: 6px
}

.footer .bottom {
    text-align: center;
}

.footer .bottom .copyright {
    font-size: 12px;
    line-height: 18px;
    font-weight: 500;
    text-align: center;
}

/**
* NEWS
*/

.news .img {
    display: flex;
    align-items: center;
    justify-content: center;
}

.news .content {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}

.news .date {
    font-size: 13px;
    line-height: 20px;
}

.news .card {
    margin-bottom: 24px;
}

/**
* SUPPORT
*/

.support .btn img {
    width: 18px;
    height: auto;
}

.support .btn-info {
    margin-inline: auto;
}

/**
* UPGRADE
*/

.upgrade .step {
    font-size: 16px;
    font-weight: 500;
}

.upgrade .loadingBankText {
    font-weight: 700;
}

.momodiv {
    border-radius: 4px 4px 0 0;
    border: 1px solid rgba(28, 30, 32, 0.05);
    padding: 16px;
    margin: 5px;
    min-height: 360px;
    text-align: center;
}

.bankdiv {
    border-radius: 4px 4px 0 0;
    border: 1px solid rgba(28, 30, 32, 0.05);
    padding: 16px;
    margin: 5px;
    min-height: 405px;
    text-align: center;
}

.momodiv .infomomo {
    color: #ae2070;
    margin-top: 12px;
}

.bankdiv .infomomo {
    color: #82BC00;
}

.momodiv .form-group button {
    margin-inline: auto;
}

.momodiv .g-recaptcha {
    transform: scale(0.8);
    transform-origin: 0 0;
    margin-inline: auto;
}

.momodiv .btn-block {
    width: 100%;
}

.momodiv input {
    width: 200px;
    margin-inline: auto;
}

.noti-momo {
    color: #e74444;
    background-color: #ffeb3b;
    font-weight: 700;
    margin: 6px;
    padding: 6px 12px;
    text-align: center;
}

.momodiv .form-group {
    display: flex;
    justify-content: center;
    align-items: center;
}

/**
* PROFILE
*/

.profile .name {
    font-size: 24px;
    font-weight: 600;
}

.payment-history .dataTables_wrapper .dt-layout-row:first-child {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
}

.payment-history .dataTables_wrapper .dt-layout-row:first-child label {
    font-size: 16px;
    font-weight: 400;
}

.payment-history .dataTables_wrapper .dt-layout-row:first-child input {
    outline: none;
}

.payment-history .dataTables_wrapper .dt-layout-row:first-child select {
    font-size: 14px;
}

.payment-history .dataTables_wrapper .dt-layout-row:last-child {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-block: 24px;
}

.payment-history .dataTables_wrapper .dt-layout-row:last-child button {
    background-color: transparent;
    padding: 6px 12px;
    border: 1px solid #ccc;
}

/**
* POLICY
*/

.policy .card-body {
    padding-bottom: 60px;
}

.policy .card-body strong {
    margin-block: 12px 6px;
    display: inline-block;
}

/**
* MEDIAS
*/

/* 1200 */

/* 991 */

@media screen and (max-width: 991px) {

    /**
    * NAVBAR
    */

    .navbar-wrapper .toggle-navbar,
    .navbar-wrapper.active .toggle-navbar {
        height: 40px;
    }

    /**
    * HEADER
    */

    .header {
        gap: 24px;
    }

    .header .right .user .name {
        display: none;
    }

    /* COUPON */

    .coupon .section-heading .badge-cost {
        margin-left: auto;
    }

    /* UPGRADE */

    .momodiv .g-recaptcha {
        transform: scale(1);
    }
}

/* 768 */

/* 576 */

@media screen and (max-width: 576px) {

    /**
    * NAVBAR
    */

    .navbar-wrapper .toggle-navbar,
    .navbar-wrapper.active .toggle-navbar {
        display: none;
    }

    /**
    * HEADER
    */

    .header .left .text {
        display: none;
    }

    .header .left .logo {
        display: block;
    }

    .header .left .toggle-nav-mb {
        display: block;
    }

    .header .right .hr-ver {
        display: none;
    }

    .header.active .right .user {
        display: none;
    }

    .header .right {
        gap: 32px;
    }

    .header.active .right {
        gap: 12px;
    }

    /**
    * GETLINK
    */

    .feature .col-12:first-child {
        margin-bottom: 36px;
    }

    .getlink label {
        text-align: center;
    }

    .getlink .button-group {
        flex-direction: column;
        gap: 12px;
    }

    .getlink .button-group button {
        width: 100%;
    }

    .getlink .extensions label {
        text-align: start;
    }

    .getlink .extensions label img {
        margin-bottom: 6px;
    }

    /**
    * FOOTER
    */

    /**
    * PROFILE
    */

    .payment-history .dataTables_wrapper .dt-layout-row:first-child {
        flex-direction: column;
        gap: 12px;
    }

    .payment-history .dataTables_wrapper .dt-layout-row:last-child {
        flex-direction: column;
        gap: 12px;
    }

    .payment-history .dataTables_wrapper .dt-layout-row:first-child input {
        margin-left: 12px;
    }

}